<!DOCTYPE html>
<html>
<head>
	<title>Postman.js webadmin</title>
</head>
<body>
	<table>
		<tr>
			<td>Time</td>
			<td>{{mail.headers.date}}</td>
		<tr>
		<tr>
			<td>From</td>
			<td>
				{{#mail.to}}
					{{name}}: {{address}}<br>
				{{/mail.to}}
			</td>
		<tr>
		<tr>
			<td>To</td>
			<td>
				{{#mail.to}}
					{{name}}: {{address}}<br>
				{{/mail.to}}
			</td>
		<tr>
		<tr>
			<td>Subject</td>
			<td>{{mail.subject}}</td>
		<tr>
		<tr>
			<td>Text</td>
			<td>{{mail.text}}</td>
		<tr>
		<tr>
			<td>Headers</td>
			<td>{{headersStr}}</td>
		<tr>
	</table>
</body>
</html>