<!DOCTYPE html>
<html>
<head>
	<title>Postman.js webadmin</title>
</head>
<body>
	These are the mails that are send:
	<ul>
	{{#mails}}
	<li>
		"<a href="/show?id={{id}}">{{subject}}</a>" to "{{toStr}}" from "{{fromStr}}"
	</li>
	{{/mails}}
	</ul>
	{{^mails}}
		No mails yet...
    {{/mails}}
</body>
</html>